language: node_js
# 设置只监听哪个分支
branches:
  only:
    - writing
cache: yarn
node_js:
  - "12"
before_install:
  - git config --global user.name "Jogiter"
  - git config --global user.email "jogiter.g@gmail.com"
install:
  - yarn global add hexo-cli
  - yarn
script:
  - hexo clean
  - hexo g
after_success:
  - cd ./public
  - git init
  - git add --all .
  - git commit -m "Travis CI Auto Builder"
  # 这里的 REPO_TOKEN 即之前在 travis 项目的环境变量里添加的
  - git push --force https://$GITHUB_TOKEN@github.com/Jogiter/jogiter.github.io.git master
notifications:
  email:
    recipients:
      - jogiter.g@gmail.com
